/*  your css code here. If applicable */
/* div{
	margin: 20px;
	background:blue;
}
div::before{
	content:"Before"
	color: yellow;
	font-size: 40px;
}
div::after{
	content:"After"
	color: pink;
	font-size: 40px;
} */